/* 
Theme Name:		 Customify-child
Theme URI:		 http://childtheme-generator.com/
Description:	 Customify-child is a child theme of Customify, created by ChildTheme-Generator.com
Author:			 Cyberdome
Author URI:		 http://childtheme-generator.com/
Template:		 customify
Version:		 1.0.0
Text Domain:	 customify-child
*/

html, body {
    color: #686868;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.618;
}

/* Centrage logo, titre, description */
.site-branding img { margin: 0 auto; }
.site-title { text-align: center;}
.site-description { text-align: center;}







/* BANDEAU IMAGE HEADER DES CHALETS A LA MESURE DE VOS REVES */


/* Customization bandeau image */
#cb-row--header-bottom {
    background-color:rgba(202, 195, 177, 0.78);
}

/*bloc image et texte */
.header--row-inner, .item--inner.builder-item--html, .builder-header-html-item.item--html {
    width:1184px;
    margin:0px auto;
    background-color:#dedede;
}

#cb-row--header-bottom .header--row-inner .customify-container {
    padding:0em;
    margin:0px;
}

/* Positionnement des blocs gauche et droite du bandeau (pas réussi avec flex) */ 
#cb-row--header-bottom .header--row-inner .customify-container * {
    vertical-align:middle;
    display:inline-block;
}

/* Bloc gauche avec l'image */
#left-block-img {
    width:400px;
    padding:0px;
    margin:0px;
}

#left-block-img figure{
    margin:0px;
    padding:0px;
    line-height: 0em; /* A cause d'un br ajoutté automatiquement par le theme après l'image que contient figure */
}

/* Bloc text de droite */
#right-block-text {
    margin:0px;
    padding: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width:770px;
}

/* centrage titre bandeau les autres options ne fonctionnent pas */
#right-block-text h2 {
margin-left: 2.5em;
}  

#right-block-text p {
    text-transform: none;
    font-size: 16px;;
}

#page-titlebar {
    padding:12px;
}



#post-67 .entry-content .wp-block-columns:first-of-type {
    background-color:#dedede;
    padding:20px;
}


#main.content-area.customify-col-12 {
    padding-top: 0px;
}




/* CUSTOMIZATION FOOTER */

/* Couleur text widgets footer */
#cb-row--footer-main *{
    color:black;
}

#cb-row--footer-main .widget-title{
    color:black;
    font-weight: 600;
}

#text-3 {
    border-right:1px solid black;
}

#nav_menu-3 {
    border-right:1px solid black;
}

/* Adjustment copyrigth section high */
#cb-row--footer-bottom .footer--row-inner, .footer-bottom-inner {
    padding-top:10px;
    padding-bottom:15px;
}

/* Centrage copyright */
.builder-footer-copyright-item, .footer-copyright {
    text-align: center;
}

#site-footer #cb-raw--footer-main .footer--row-inner {
    padding-bottom:0;
}




/* CUSTOMIZATION FORMULAIRE */

#wpcf7-f6-p67-o1 input[type=submit].wpcf7-form-control, .wpcf7-submit {
    width:100%;
    color: black;
    background-color:rgba(202, 195, 177, 0.78);
    border-radius:5px;
    font-weight: 500;
}