/* 
Theme Name:		 Customify-child
Theme URI:		 http://childtheme-generator.com/
Description:	 Customify-child is a child theme of Customify, created by ChildTheme-Generator.com
Author:			 Cyberdome
Author URI:		 http://childtheme-generator.com/
Template:		 customify
Version:		 1.0.0
Text Domain:	 customify-child
*/

html, body {
    color: #000000 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500 !important;
    line-height: 1.618;
}

/* TOP MENU */

/* alignement de weglot */
#menu-topmenu #menu-item--top-desktop-190 a {
    padding-top: 9px;
}


/* LOGO TITRE ET DESCRIPTION */

.site-branding img { margin: 0 auto; }
.site-title { text-align: center;}
.site-description { text-align: center;}

#cb-row--header-main .site-img-logo {
    width:200px;
}

#cb-row--header-main .site-title a {
    font-size: 32px;
}

#cb-row--header-main .site-description {
    font-size: 18px;
}





/* BANDEAU IMAGE HEADER: DES CHALETS A LA MESURE DE VOS REVES */


/* Customization bandeau image */
#cb-row--header-bottom {
    background-color:rgba(202, 195, 177, 0.78);
}

/*bloc image et texte */
.header--row-inner, .item--inner.builder-item--html, .builder-header-html-item.item--html {
    width:1184px;
    margin:0px auto;
    background-color:#dedede;
}

#cb-row--header-bottom .header--row-inner .customify-container {
    padding:0em;
    margin:0px;
}

/* Positionnement des blocs gauche et droite du bandeau (pas réussi avec flex) */ 
#cb-row--header-bottom .header--row-inner .customify-container * {
    vertical-align:middle;
    display:inline-block;
}

/* Bloc gauche avec l'image */
#left-block-img {
    width:400px;
    padding:0px;
    margin:0px;
}

#left-block-img figure{
    margin:0px;
    padding:0px;
    line-height: 0em; /* A cause d'un br ajoutté automatiquement par le theme après l'image que contient figure */
}

/* Bloc text de droite */
#right-block-text {
    margin:0px;
    padding: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width:770px;
}

/* centrage titre bandeau (les autres propriétés css ne fonctionnent pas) */
#right-block-text h2 {
margin-left: 2.5em;
font-size: 28px;
}  

#right-block-text p {
    text-transform: none;
    font-size: 18px;
}

#page-titlebar {
    padding:12px;
}

/* Trois boutons: Acheter Louer Expertiser */

nav#troisboutons {
    display:flex !important;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

nav#troisboutons a {
    background-color:rgba(202, 195, 177, 0.78);
    font-size:16;
    font-family: sans-serif;
    text-transform: uppercase;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:4px;
    transition: transform .3s,border .3s, background-color .3s,box-shadow .3s,opacity .3s,color .3s,-webkit-transform .3s;
}

nav#troisboutons a:nth-last-of-type(2) {
    margin-left:20px;
    margin-right:20px;
}

nav#troisboutons a:hover {
  /*  filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1); */
    background-color:rgba(175, 158, 116, 0.78);
}






#page-titlebar {
    border:none;
}








/* BLOC CONSTRUISONS VOTRE PROJET */
#post-67 .entry-content .wp-block-columns:first-of-type {
    background-color:#dedede;
    padding:20px;
}

#post-67 .entry-content .wp-block-columns:first-of-type h2{
    background-color:#dedede;
}

#main.content-area.customify-col-12 {
    padding-top: 0px;
}

/*stylisation titres Locations et Ventes sur page d'accueil */

#post-67 .entry-content h2 {
    background-color:rgba(202, 195, 177, 0.78);
    font-size: 24px;
    padding:5px;
    text-align: center;
}

#post-67 .entry-content p {
    font-size: 17px;
    margin-left:20px;
}


/* ajustement images chalets  */

#main .wc-block-grid__product {
    margin-left:0px;
}

#main .wc-block-grid__product a .wc-block-grid__product-image img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main .wc-block-grid__product a:hover .wc-block-grid__product-image img {
    
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}




/* AJUSTEMENT INFO PRODUITS */

.wc-block-grid__product-title {
    font-size: medium;
}

.wc-block-grid__product-short-description {
    text-align: start;
    font-size: medium;
}

.wc-block-grid__product-price, .price {
    font-size: medium;
    text-align: right;
    vertical-align: baseline;
}

/* AJUSTEMENT INFO PRODUITS SUR PAGE PRODUIT */

nav.woocommerce-breadcrumb {
    font-size: medium;
}

.woocommerce-product-details__short-description {
    font-size: larger;
}


/* AJUSTEMENT INFO PRODUITS ATTRIBUTS */

#tab-additional_information table th {
    width: 220px;
    font-size: medium;
}

.product_meta .posted_in, .product_meta .tagged_as {
    display:none;
}

#tab-description p {
    margin-left:2em;
}









/* Politique de confidencialité */
#site-content *{
    overflow: hidden;
    word-break: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}






/* CUSTOMIZATION FOOTER */

#cb-row--footer-main,.footer-main, .footer--row{
    background-color:rgba(202, 195, 177, 0.78) !important;
}
/* Couleur text widgets footer */
#cb-row--footer-main *{
    color:black;
    font-size: 16px;
    line-height: 1.3;
}

#cb-row--footer-main .widget-title{
    color:black;
    font-weight: 600;
}

#text-3 {
    border-right:1px solid black;
}

#nav_menu-3 {
    border-right:1px solid black;
}

/* Adjustment copyrigth section high */
#cb-row--footer-bottom .footer--row-inner, .footer-bottom-inner {
    padding-top:10px;
    padding-bottom:15px;
}

/* Centrage copyright */
.builder-footer-copyright-item, .footer-copyright {
    text-align: center;
}

#site-footer #cb-raw--footer-main .footer--row-inner {
    padding-bottom:0;
}

/* ajustement logo footer */
#media_image-3 .image, .wp-image-119 {
    margin-top:10px;
} 



/* CUSTOMIZATION FORMULAIRE */

/* Reduction de marges */
#wpcf7-f6-p67-o1 .wpcf7-form { margin-bottom:0px; }
#wpcf7-f6-p67-o1 .wpcf7-form p:last-of-type { margin-bottom:0px; height:50px; }
#wpcf7-f6-p67-o1 .wpcf7-form .ajax-loader { width:0px; height:0px; }

/* Bouton Envoyer */
#wpcf7-f6-p67-o1 input[type=submit].wpcf7-form-control, .wpcf7-submit {
    width:100%;
    color: black;
    background-color:rgba(202, 195, 177, 0.78);
    border-radius:5px;
    font-weight: 500;
}



















/* PAGE PRODUIT */

/* Cacher choix quantité */
#main .cart {
    display:none;
}

/*Masquer bandeau header */
.single-product #cb-row--header-bottom {
    display:none;
}


/* PAGE CGV */

/* retrait généré par */
#wp-cgv i:first-of-type {
    display:none;
}