/* 
Theme Name:		 Customify-child
Theme URI:		 http://childtheme-generator.com/
Description:	 Customify-child is a child theme of Customify, created by ChildTheme-Generator.com
Author:			 Cyberdome
Author URI:		 http://childtheme-generator.com/
Template:		 customify
Version:		 1.0.0
Text Domain:	 customify-child
*/


/*
    Add your custom styles here
*/